button.resetbtn {
    border: none;
    outline: 0;
}
button.resetbtn:focus {
    border: none;
    outline: 0!important;
    box-shadow: none!important;
}
.custom-rounded {
    border-radius: 1rem;
}
.leftcol {
    top: 5rem;
    left: 0;
    height: 100vh;
}
.rightcol {
    top: 5rem;
    right: 10px;
    height: 100vh;
}
body {
    background-color: rgb(240, 242, 245);
}
