.profstatusinp {
    border-radius: 1.25rem;
}

.profile-cover {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
    min-height: 160px;
}

.profile-cover img {
    max-height: 180px;
    width: 100%;
    object-fit: fill;
    filter: blur(50px);  
}
.profile-cover-main{
    position: absolute;
    top: 0;
    left: 0%;
    width: 100%;
}
.profile-cover-main img {
    max-height: 180px;
    min-height: 130px;
    min-width: 90%;
    width: 100%;
    object-fit: fill;
    filter: none;  
}
.cover-bottom{
    position: absolute;
    bottom: -60%;
}
.profile-img {

    height: 100px;
    width: 100px;
    overflow: hidden;
    padding: .4rem;
}
.profile-img > span {
    padding-left: 1rem;
    font-size: 3.5rem;
}
.profile-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: none;
}
.profile-nav {
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: center;
}
.profile-nav ul {
    width: 83%;
    padding: 0;
    list-style-type: none;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.bottom-row {
    width: 100%;
}
/* small screen  */
@media (min-width: 576px) {

    .profile-cover {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        backdrop-filter: blur(50px);
    }
    .profile-cover img {
        max-height: 310px;
        min-height: 150px;
        width: 90%;
        object-fit: fill;
        filter: blur(50px);   
    }
    .profile-cover-main{
        position: absolute;
        top: 0;
    }
    .profile-cover-main img {
        max-height: 310px;
        min-height: 150px;
        min-width: 80%;
        width: 90%;
        object-fit: fill;
        filter: none;   
    }
    .cover-bottom{
        position: absolute;
        bottom: -45%;
    }
    .profile-img {
    
        height: 125px;
        width: 125px;
        overflow: hidden;
        padding: .3rem;
    }
    .profile-img > span {
        padding-left: 1.4rem;
        font-size: 4.5rem;
    }
    .profile-img img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        filter: none;
    }
    .profile-nav {
        width: 90%;
        padding: 0 1rem;
        display: flex;
        justify-content: center;
    }
    .profile-nav ul {
        width: 100%;
        padding: 0;
        list-style-type: none;
        justify-content: center;
    }
    .bottom-row {
        width: 100%;
    }
}
/* medium screen  */
@media (min-width: 768px) {
    
    .bottom-left {
        width: 100%;
    }

    .profile-cover {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        backdrop-filter: blur(50px);

    }
    .profile-cover img {
        max-height: 310px;
        min-height: 150px;
        width: 90%;
        object-fit: fill;
        filter: blur(50px);   
    }

    .profile-cover-main img {
        max-height: 310px;
        min-height: 150px;
        min-width: 80%;
        width: 90%;
        object-fit: fill;
        filter: none;   
    }

    .cover-bottom{
        position: absolute;
        bottom: -35%;
    }
    .profile-img {
        
        height: 175px;
        width: 175px;
        overflow: hidden;
        padding: .3rem;
    }
    .profile-img > span {
        padding-left: 1.7rem;
        font-size: 6.5rem;
    }
    .profile-img img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        filter: none;
    }
    .profile-nav {
        width: 90%;
        padding: 0 5rem;
        display: flex;
        justify-content: center;
    }
    .profile-nav ul {
        width: 100%;
        padding: 0 4rem;
        list-style-type: none;
    }
    .bottom-row {
        width: 100%;
    }
}
/* large screen  */
@media (min-width: 992px) {
    .bottom-row {
        width: 90%;
    }
    .cover-container {
        padding: 0 5rem;
    }
    .profile-cover {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: .5rem 5rem;
        position: relative;
        backdrop-filter: blur(50px);

    }
    .profile-cover img {
        max-height: 310px;
        min-height: 150px;
        width: 90%;
        object-fit: fill;
        filter: blur(50px);   
    }

    .profile-cover-main img {
        max-height: 310px;
        min-height: 150px;
        min-width: 80%;
        width: 90%;
        object-fit: fill;
        filter: none;   
    }

    .cover-bottom{
        position: absolute;
        bottom: -35%;
    }
    .profile-img {
    
        height: 175px;
        width: 175px;
        overflow: hidden;
        padding: .3rem;
    }
    .profile-img img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        filter: none;
    }
    .profile-nav {
        width: 90%;
        padding: 0 5rem;
        display: flex;
        justify-content: center;
    }
    .profile-nav ul {
        width: 100%;
        padding: 0 5rem;
        list-style-type: none;
    }
}
/* xtra-large screen  */
@media (min-width: 1200px) {
    .bottom-row{
        width: 75%;
    }
    .cover-container {
        padding: 0 5rem;
    }
    .profile-cover {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: .5rem 5rem;
        position: relative;
        backdrop-filter: blur(50px);

    }
    .profile-cover img {
        max-height: 310px;
        min-height: 150px;
        width: 90%;
        object-fit: fill;
        filter: blur(50px);   
    }
    

    .profile-cover-main img {
        max-height: 310px;
        min-height: 150px;
        min-width: 80%;
        width: 90%;
        object-fit: fill;
        filter: none;   
    }

    .cover-bottom{
        position: absolute;
        bottom: -35%;
    }
    .profile-img {
    
        height: 175px;
        width: 175px;
        overflow: hidden;
        padding: .3rem;
    }
    .profile-img img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        filter: none;
    }
    .profile-nav {
        width: 90%;
        padding: 0 5rem;
        display: flex;
        justify-content: center;
    }
    .profile-nav ul {
        width: 100%;
        padding: 0 5rem;
        list-style-type: none;
    }
}